:root {
  --brand-green: #5B7B2F;
   --brand-green-soft:#EAF2E3;
}

.text-brand {
  color: var(--brand-green);
}

.bg-brand {
  background-color: var(--brand-green);
}

.ring-brand {
  --tw-ring-color: var(--brand-green);
}


.bg-brand-soft {
   background-color: var(--brand-green-soft);
}

